<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h2>{{contact.name}}</h2>
    <img [src]="contact.imageUrl"
         alt="{{contact.name}}"
         class="pull-left img-responsive"
         style="max-height: 75px;">
    <div class="btn-group pull-right" style="padding-top: 18px">
      <a href="#" class="btn btn-primary">Edit</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
            <h4 class="list-group-item-heading"><strong>Email:</strong> {{ contact.email }}</h4>
            <h4 class="list-group-item-heading"><strong>Phone:</strong> {{ contact.phone }}</h4>
      </div>
    </div>
  </div>

</div>
